.container {
  	width: 100%;
  	position: relative;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 48px 0px 0px;
  	box-sizing: border-box;
  	text-align: center;
  	font-size: 15.5px;
  	color: #000404;
  	font-family: Raleway;
}
.section {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 16px;
}
.container2 {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 0px 25.6px;
  	gap: 20px;
}
.heading-2 {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
}
.vitrine-da-semana {
  	position: relative;
  	letter-spacing: 1.6px;
  	line-height: 16px;
}
.link {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 2px 0px 0.4px;
  	cursor: pointer;
  	font-size: 14px;
  	color: #707070;
}
.container3 {
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 2px 0px;
}
.ver-todos {
  	position: relative;
  	text-decoration: underline;
  	line-height: 12px;
  	color: inherit;
}
.container4 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 9.6px 0px 25.6px;
  	font-size: 11.6px;
}
.section2 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	position: relative;
}
.list {
  	align-self: stretch;
  	height: 738.8px;
  	position: relative;
  	overflow: auto;
  	flex-shrink: 0;
  	z-index: 0;
}
.item {
  	position: absolute;
  	height: 100%;
  	width: 25%;
  	top: 0px;
  	right: 75%;
  	bottom: 0px;
  	left: 0%;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.container5 {
  	width: 455.2px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.container6 {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
}
.link-shorts-feminino-evas-c {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 0px 4px;
  	box-sizing: border-box;
  	position: relative;
  	gap: 8px;
  	max-width: 100%;
  	cursor: pointer;
}
.container7 {
  	margin: 0 !important;
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 6px 0px 0px;
  	z-index: 2;
}
.container-icon {
  	width: 72px;
  	height: 36px;
  	position: relative;
  	object-fit: cover;
}
.container8 {
  	align-self: stretch;
  	height: 641.8px;
  	position: relative;
  	overflow: hidden;
  	flex-shrink: 0;
  	z-index: 1;
}
.container-icon2 {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
}
.container9 {
  	position: absolute;
  	top: 16px;
  	right: 15.99px;
  	width: 24px;
  	height: 24px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.component-2 {
  	height: 20px;
  	width: 20px;
  	position: relative;
}
.vector-icon {
  	position: absolute;
  	height: 89%;
  	width: 100%;
  	top: 5.47%;
  	right: 0%;
  	bottom: 5.53%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.background {
  	position: absolute;
  	width: 100%;
  	right: 0%;
  	bottom: -18.69px;
  	left: 0%;
  	background-color: #fff;
  	height: 56px;
  	overflow: hidden;
  	opacity: 0;
}
.list2 {
  	position: absolute;
  	width: calc(100% - 172.7px);
  	top: calc(50% - 16px);
  	right: 164.7px;
  	left: 8px;
  	height: 32px;
  	overflow-x: auto;
}
.item2 {
  	position: absolute;
  	top: calc(50% - 16px);
  	left: 0px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 12px;
  	color: #fff;
}
.container10 {
  	height: 32px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	min-width: 32px;
}
.backgroundborder {
  	height: 32px;
  	border-radius: 2px;
  	background-color: #000404;
  	border: 2px solid #000404;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 2px 10px;
  	min-width: 32px;
}
.text {
  	position: relative;
  	line-height: 16px;
}
.item3 {
  	position: absolute;
  	top: calc(50% - 16px);
  	left: 44.58px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.border {
  	height: 32px;
  	border-radius: 2px;
  	border: 1px solid #f5f5f5;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 1px 9px;
  	min-width: 32px;
}
.item4 {
  	position: absolute;
  	top: calc(50% - 16px);
  	left: 86.82px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.item5 {
  	position: absolute;
  	top: calc(50% - 16px);
  	left: 129.05px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.item6 {
  	position: absolute;
  	top: calc(50% - 16px);
  	left: 171.63px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.item7 {
  	position: absolute;
  	top: calc(50% - 16px);
  	left: 214.07px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.item8 {
  	position: absolute;
  	top: calc(50% - 16px);
  	left: 256.97px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 11.8px;
  	color: #595959;
}
.button {
  	height: 50px;
  	border-radius: 4px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	min-width: 32px;
  	min-height: 50px;
  	flex-shrink: 0;
}
.backgroundborder2 {
  	height: 32px;
  	border-radius: 2px;
  	background-color: #e9e9e9;
  	border: 1px solid #f5f5f5;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 1px 9px;
  	position: relative;
  	min-width: 32px;
}
.container23 {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	z-index: 0;
}
.horizontal-divider {
  	height: 1px;
  	width: 28px;
  	position: absolute;
  	margin: 0 !important;
  	top: 7.24px;
  	left: calc(50% - 9.55px);
  	background-color: #cacaca;
  	transform:  rotate(45deg);
  	transform-origin: 0 0;
  	z-index: 1;
}
.container24 {
  	position: absolute;
  	top: calc(50% - 16px);
  	left: 298.54px;
  	width: 32px;
  	height: 32px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	min-width: 32px;
}
.component-22 {
  	height: 12px;
  	width: 7px;
  	position: relative;
}
.vector-icon2 {
  	position: absolute;
  	height: 100%;
  	width: 91.43%;
  	top: 0%;
  	right: 0.54%;
  	bottom: 0%;
  	left: 8.03%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.container25 {
  	position: absolute;
  	top: calc(50% - 20px);
  	left: 338.54px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 12px;
  	color: #fff;
}
.component-4 {
  	height: 50px;
  	border-radius: 4px;
  	display: flex;
  	align-items: flex-start;
  	min-height: 50px;
}
.backgroundborder3 {
  	height: 40px;
  	border-radius: 2px;
  	background-color: #000404;
  	border: 2px solid #000404;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 6px 18px;
}
.container26 {
  	display: flex;
  	align-items: center;
  	padding: 1px 0px 1px 2.4px;
  	gap: 6.4px;
}
.component-23 {
  	height: 11.2px;
  	width: 11.2px;
  	position: relative;
}
.vector-icon3 {
  	position: absolute;
  	height: 91.96%;
  	width: 87.5%;
  	top: 5.26%;
  	right: 5.11%;
  	bottom: 2.77%;
  	left: 7.39%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.text7 {
  	position: relative;
  	line-height: 14px;
}
.container28 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 8px;
  	z-index: 0;
  	text-align: left;
}
.heading-3 {
  	align-self: stretch;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	color: #595959;
}
.shorts-feminino-evas-com-linh {
  	align-self: stretch;
  	position: relative;
  	line-height: 24px;
  	color: inherit;
  	text-decoration: none;
}
.container29 {
  	display: flex;
  	align-items: center;
  	padding: 0px 8px 0px 0px;
  	font-size: 12.9px;
}
.container30 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.r-17999 {
  	position: relative;
  	letter-spacing: 0.16px;
  	line-height: 18px;
  	color: inherit;
  	text-decoration: none;
}
.container31 {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	flex-wrap: wrap;
  	align-content: center;
  	font-size: 9.5px;
}
.container32 {
  	border-radius: 4px;
  	display: flex;
  	align-items: flex-start;
}
.border6 {
  	align-self: stretch;
  	border-radius: 4px;
  	border: 1px solid #595959;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 5px;
}
.lanamento {
  	position: relative;
  	letter-spacing: 0.16px;
  	line-height: 14px;
  	color: inherit;
  	text-decoration: none;
}
.item9 {
  	position: absolute;
  	height: 100%;
  	width: 25%;
  	top: 0px;
  	right: 50%;
  	bottom: 0px;
  	left: 25%;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.container37 {
  	position: absolute;
  	top: 16px;
  	right: 16px;
  	width: 24px;
  	height: 24px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.list3 {
  	position: absolute;
  	width: calc(100% - 172.7px);
  	top: calc(50% - 16px);
  	right: 164.7px;
  	left: 8px;
  	overflow-x: auto;
  	display: flex;
  	align-items: center;
  	gap: 4px;
}
.item10 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 12px;
  	color: #fff;
}
.container48 {
  	position: absolute;
  	top: calc(50% - 16px);
  	left: 298.53px;
  	width: 32px;
  	height: 32px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	min-width: 32px;
}
.container49 {
  	position: absolute;
  	top: calc(50% - 20px);
  	left: 338.53px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 12px;
  	color: #fff;
}
.container53 {
  	display: flex;
  	align-items: center;
  	padding: 0px 8px 0px 0px;
  	font-size: 12.8px;
}
.item15 {
  	position: absolute;
  	height: 100%;
  	width: 25%;
  	top: 0px;
  	right: 25%;
  	bottom: 0px;
  	left: 50%;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.container76 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 8px;
  	z-index: 0;
  	text-align: left;
  	font-size: 11.4px;
  	color: #595959;
}
.heading-33 {
  	align-self: stretch;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.container77 {
  	display: flex;
  	align-items: center;
  	flex-wrap: wrap;
  	align-content: center;
  	gap: 0px 8px;
  	font-size: 10.9px;
}
.r-159992 {
  	position: relative;
  	text-decoration: line-through;
  	letter-spacing: 0.16px;
  	line-height: 18px;
  	color: inherit;
}
.container79 {
  	display: flex;
  	align-items: center;
  	gap: 8px;
  	font-size: 12.5px;
  	color: #000404;
}
.container81 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 10px;
  	color: #eb3b34;
}
.background4 {
  	align-self: stretch;
  	border-radius: 2px;
  	background-color: #ffe6e6;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	padding: 4px;
}
.off {
  	position: relative;
  	letter-spacing: 0.16px;
  	line-height: 13px;
  	text-transform: uppercase;
  	font-weight: 800;
}
.container83 {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	flex-wrap: wrap;
  	align-content: center;
  	gap: 0px 4px;
  	font-size: 10px;
  	color: #000404;
}
.container85 {
  	border-radius: 4px;
  	display: flex;
  	align-items: flex-start;
  	font-size: 9.5px;
}
.item21 {
  	position: absolute;
  	height: 100%;
  	width: 25%;
  	top: 0px;
  	right: 0%;
  	bottom: 0px;
  	left: 75%;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.container105 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 0px 0px 8px;
  	gap: 8px;
  	z-index: 0;
  	text-align: left;
  	font-size: 11.8px;
  	color: #595959;
}
.container106 {
  	display: flex;
  	align-items: center;
  	padding: 0px 8px 0px 0px;
  	font-size: 13.3px;
  	color: #000404;
}
.item27 {
  	position: absolute;
  	height: 100%;
  	width: 25%;
  	top: 0px;
  	right: -25%;
  	bottom: 0px;
  	left: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.container127 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 8px;
  	z-index: 0;
  	text-align: left;
  	font-size: 11.4px;
}
.container130 {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	flex-wrap: wrap;
  	align-content: center;
  	gap: 0px 4px;
  	font-size: 9.5px;
}
.container132 {
  	border-radius: 4px;
  	display: flex;
  	align-items: flex-start;
  	font-size: 9.7px;
}
.item33 {
  	position: absolute;
  	height: 100%;
  	width: 25%;
  	top: 0px;
  	right: -50%;
  	bottom: 0px;
  	left: 125%;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.item39 {
  	position: absolute;
  	height: 100%;
  	width: 25%;
  	top: 0px;
  	right: -75%;
  	bottom: 0px;
  	left: 150%;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.link-blusa-bsica-feminina-m {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 0px 4px;
  	box-sizing: border-box;
  	gap: 8px;
  	max-width: 100%;
  	cursor: pointer;
}
.item44 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 12px;
  	color: #595959;
}
.container175 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 8px;
  	z-index: 0;
  	text-align: left;
  	font-size: 11.3px;
  	color: #595959;
}
.container176 {
  	display: flex;
  	align-items: center;
  	padding: 0px 8px 0px 0px;
  	font-size: 12.8px;
  	color: #000404;
}
.item45 {
  	position: absolute;
  	height: 100%;
  	width: 25%;
  	top: 0px;
  	right: -100%;
  	bottom: 0px;
  	left: 175%;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 12px;
  	color: #595959;
}
.horizontal-divider3 {
  	height: 1px;
  	width: 28px;
  	position: absolute;
  	margin: 0 !important;
  	top: 7.24px;
  	left: calc(50% - 9.57px);
  	background-color: #cacaca;
  	transform:  rotate(45deg);
  	transform-origin: 0 0;
  	z-index: 1;
}
.backgroundborder18 {
  	height: 32px;
  	border-radius: 2px;
  	background-color: #e9e9e9;
  	border: 1px solid #f5f5f5;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 1px 12.1px;
  	position: relative;
  	min-width: 32px;
}
.horizontal-divider4 {
  	height: 1px;
  	width: 28px;
  	position: absolute;
  	margin: 0 !important;
  	top: 7.24px;
  	left: calc(50% - 9.53px);
  	background-color: #cacaca;
  	transform:  rotate(45deg);
  	transform-origin: 0 0;
  	z-index: 1;
}
.item48 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	color: #fff;
}
.item49 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 11.6px;
  	color: #000404;
}
.container194 {
  	position: absolute;
  	top: calc(50% - 20px);
  	left: 338.53px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	color: #fff;
}
.container197 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 0px 0px 8px;
  	gap: 8px;
  	z-index: 0;
  	text-align: left;
  	font-size: 11.6px;
}
.container200 {
  	width: 100%;
  	height: 30px;
  	margin: 0 !important;
  	position: absolute;
  	right: 0%;
  	bottom: 399.38px;
  	left: 0%;
  	display: flex;
  	align-items: flex-start;
  	justify-content: space-between;
  	padding: 0px 16px 0px 0px;
  	box-sizing: border-box;
  	gap: 20px;
  	z-index: 1;
}
.button-previous {
  	height: 50px;
  	width: 30px;
  	border-radius: 4px;
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
  	min-height: 50px;
  	flex-shrink: 0;
}
.container201 {
  	height: 30px;
  	flex: 1;
  	border-radius: 30px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	max-width: 100%;
}
.container202 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 0px 2px;
}
.component-225 {
  	width: 30px;
  	height: 30px;
  	position: relative;
}
.vector-icon25 {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.clip-path-group {
  	position: absolute;
  	height: 53.33%;
  	width: 53.33%;
  	top: 23.33%;
  	right: 23.33%;
  	bottom: 23.33%;
  	left: 23.33%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}

