/* src/app/pages/admin/diagnostico-admin/diagnostico-admin.component.scss */
@import '../admin-layout.scss';
@import '../../../styles/animations.scss';

/* (Estilos específicos para Diagnósticos podem vir aqui) */
