<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">

  	<link rel="stylesheet"  href="./header.component.scss" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />



</head>
<body>

  	<div class="container">
    		<div class="container2">
      			<div class="container3">
        				<div class="link-voltar-para-a-homepage" id="linkVoltarParaAHomepage">
          					<div class="component-2">
            						<div class="clip-path-group">
              							<img class="group-icon" alt="">

            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="container4">
      			<div class="container8">
        				<div class="container6">
          					<div class="container3">
            						<div class="container6">
              							<a class="text2" href="https://www.hering.com.br/novidades-da-semana" target="_blank">Início</a>
            						</div>
          					</div>
        				</div>
      			</div>
      			<div class="container8">
        				<div class="container6">
          					<div class="container3">
            						<div class="container6">
              							<a class="text2" href="https://www.hering.com.br/home/feminino" target="_blank">Alunos</a>
            						</div>
          					</div>
        				</div>
      			</div>
      			<div class="container8">
        				<div class="container6">
          					<div class="container3">
            						<div class="container6">
              							<a class="text2" href="https://www.hering.com.br/home/masculino" target="_blank">Relatórios</a>
            						</div>
          					</div>
        				</div>
      			</div>
      			<div class="container8">
        				<div class="container6">
          					<div class="container3">
            						<div class="container6">
              							<a class="text2" href="https://www.hering.com.br/sports" target="_blank">Administração</a>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="container25">
      			<div class="container38">
        				<div class="link-acessar-minha-conta" id="linkAcessarMinhaConta">
          					<div class="container2">
            						<div class="button-acessar-minha-conta">
              							<div class="container32">
                								<div class="container37">
                  									<div class="component-26">
                    										<img class="vector-icon6" alt="">

                    										<img class="vector-icon7" alt="">

                  									</div>
                								</div>
              							</div>
            						</div>
          					</div>
        				</div>
      			</div>
    		</div>
  	</div>




  	<script>
    		var linkVoltarParaAHomepage = document.getElementById("linkVoltarParaAHomepage");
    		if(linkVoltarParaAHomepage) {
      			linkVoltarParaAHomepage.addEventListener("click", function () {
        				window.open("https://www.hering.com.br/");
      			});
    		}

    		var linkAcessarMinhaConta = document.getElementById("linkAcessarMinhaConta");
    		if(linkAcessarMinhaConta) {
      			linkAcessarMinhaConta.addEventListener("click", function () {
        				window.open("https://www.hering.com.br/api/io/login");
      			});
    		}</script></body>
</html>
