.container {
  	height: 82px;
  	flex: 1;
  	width: 100%;
  	position: relative;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 16px 25.6px;
  	box-sizing: border-box;
  	gap: 0px;
  	min-height: 82px;
  	text-align: left;
  	font-size: 15.5px;
  	font-family: Raleway;
}
.container2 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.container3 {
  	display: flex;
  	align-items: flex-start;
}
.link-voltar-para-a-homepage {
  	align-self: stretch;
  	width: 184px;
  	display: flex;
  	align-items: flex-start;
  	cursor: pointer;
}
.component-2 {
  	height: 32px;
  	width: 184px;
  	position: relative;
}
.clip-path-group {
  	position: absolute;
  	height: 75%;
  	width: 100%;
  	top: 11.91%;
  	right: 0%;
  	bottom: 13.09%;
  	left: 0%;
}
.group-icon {
  	position: absolute;
  	height: 100%;
  	width: 98.8%;
  	top: 0%;
  	right: 1.2%;
  	bottom: 0%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.container4 {
  	flex: 1;
  	display: flex;
  	align-items: center;
  	padding: 0px 0px 0px 16px;
}
.container5 {
  	display: flex;
  	align-items: flex-start;
  	padding: 16px;
  	font-size: 15.6px;
  	color: #eb3b34;
}
.container6 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.text {
  	position: relative;
  	letter-spacing: 0.16px;
  	line-height: 18.4px;
  	color: inherit;
  	text-decoration: none;
}
.container8 {
  	display: flex;
  	align-items: flex-start;
  	padding: 16px;
}
.text2 {
  	position: relative;
  	letter-spacing: 0.16px;
  	line-height: 18.4px;
  	color: inherit;
  	display: inline-block;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	text-decoration: none;
  	max-height: 18.4px;
}
.container24 {
  	height: 18.4px;
  	display: flex;
  	align-items: center;
}
.component-22 {
  	height: 14px;
  	width: 58px;
  	position: relative;
}
.vector-icon {
  	position: absolute;
  	height: 85.71%;
  	width: 97.41%;
  	top: 7.03%;
  	right: 1.87%;
  	bottom: 7.26%;
  	left: 0.72%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.container25 {
  	height: 50px;
  	width: 385.2px;
  	position: relative;
  	text-align: center;
  	font-size: 11.6px;
}
.container26 {
  	position: absolute;
  	top: calc(50% - 20px);
  	right: 214.6px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	min-width: 170px;
}
.container27 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	position: relative;
  	min-width: 170px;
}
.background {
  	width: 210px;
  	margin: 0 !important;
  	position: absolute;
  	top: 40px;
  	left: calc(50% - 105.01px);
  	border-radius: 4px;
  	background-color: #000404;
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 16px;
  	box-sizing: border-box;
  	max-width: 210px;
  	z-index: 0;
}
.text7 {
  	position: relative;
  	letter-spacing: 0.16px;
  	line-height: 16px;
  	z-index: 0;
  	flex-shrink: 0;
}
.background2 {
  	height: 24px;
  	width: 24px;
  	position: absolute;
  	margin: 0 !important;
  	top: -12.97px;
  	left: 105px;
  	border-radius: 4px;
  	background-color: #000404;
  	transform:  rotate(45deg);
  	transform-origin: 0 0;
  	z-index: 1;
  	flex-shrink: 0;
}
.component-4 {
  	height: 40px;
  	display: flex;
  	align-items: flex-start;
  	min-width: 44px;
  	min-height: 38px;
  	z-index: 1;
  	font-size: 13.7px;
}
.container28 {
  	align-self: stretch;
  	border-radius: 2px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 3px 24.3px 3px 28.3px;
}
.container29 {
  	display: flex;
  	align-items: center;
  	gap: 8px;
}
.component-23 {
  	height: 20px;
  	width: 20px;
  	position: relative;
}
.vector-icon2 {
  	position: absolute;
  	height: 85.5%;
  	width: 66.5%;
  	top: 7.29%;
  	right: 16.83%;
  	bottom: 7.21%;
  	left: 16.67%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.container30 {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
}
.text8 {
  	position: relative;
  	line-height: 14px;
}
.container31 {
  	position: absolute;
  	top: calc(50% - 25px);
  	right: 110.2px;
  	display: flex;
  	align-items: flex-start;
  	min-width: 100px;
  	font-size: 14px;
}
.container32 {
  	align-self: stretch;
  	border-radius: 2px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 6px 2px 6px 18px;
}
.component-24 {
  	height: 17px;
  	width: 17px;
  	position: relative;
}
.vector-icon3 {
  	position: absolute;
  	height: 81.18%;
  	width: 85.29%;
  	top: 2.94%;
  	right: 10.16%;
  	bottom: 15.88%;
  	left: 4.55%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon4 {
  	position: absolute;
  	height: 18.82%;
  	width: 19.41%;
  	top: 75.25%;
  	right: 4.53%;
  	bottom: 5.93%;
  	left: 76.06%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.container35 {
  	position: absolute;
  	top: calc(50% - 25px);
  	right: -8.98px;
  	width: 68px;
  	height: 50px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.button-sacola-de-compras {
  	height: 50px;
  	border-radius: 4px;
  	display: flex;
  	align-items: flex-start;
  	padding: 0px 16px;
  	box-sizing: border-box;
  	min-height: 50px;
}
.container37 {
  	align-self: stretch;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.component-25 {
  	height: 16px;
  	width: 16px;
  	position: relative;
}
.vector-icon5 {
  	position: absolute;
  	height: 91.88%;
  	width: 87.5%;
  	top: 5.26%;
  	right: 5.11%;
  	bottom: 2.86%;
  	left: 7.39%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.container38 {
  	position: absolute;
  	top: calc(50% - 25px);
  	right: 54.02px;
  	width: 50px;
  	height: 50px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.link-acessar-minha-conta {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 16px;
  	box-sizing: border-box;
  	max-width: 100%;
  	cursor: pointer;
}
.button-acessar-minha-conta {
  	height: 50px;
  	border-radius: 4px;
  	display: flex;
  	align-items: flex-start;
  	min-height: 50px;
}
.component-26 {
  	height: 17px;
  	width: 15px;
  	position: relative;
}
.vector-icon6 {
  	position: absolute;
  	height: 48.82%;
  	width: 55.33%;
  	top: 2.94%;
  	right: 23.15%;
  	bottom: 48.24%;
  	left: 21.52%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon7 {
  	position: absolute;
  	height: 31.18%;
  	width: 88.67%;
  	top: 62.75%;
  	right: 6.48%;
  	bottom: 6.08%;
  	left: 4.85%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}

