/* src/app/pages/alunos/aluno-detalhe/aluno-detalhe.component.scss */
@import '../../../../styles.scss';

.aluno-detalhe-page {
  max-width: 1400px;
  margin: 1.5rem auto;
  background: var(--cor-branco);
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}

// Coluna da Foto
.aluno-foto-container {
  height: 100%;
  min-height: 80vh;
  .aluno-foto-principal {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Coluna de Informações
.aluno-info-container {
  padding: 2.5rem 3rem;
}

.info-section {
  margin-bottom: 1.5rem;
}

.aluno-nome {
  font-family: var(--font-titulos);
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 0.25rem;
}
.aluno-nome-social {
  font-family: var(--font-secundaria);
  font-size: 1.25rem;
  color: var(--cor-texto-claro);
  margin-top: -0.5rem;
}
.aluno-matricula {
  font-family: var(--font-secundaria);
  font-size: 1.1rem;
  color: var(--cor-primaria);
  font-weight: 700;
}

// Infos empilhadas
.stacked-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.info-item {
  .info-label {
    display: block;
    font-family: var(--font-secundaria);
    color: var(--cor-texto-claro);
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
  }
  .info-value, .badge {
    font-family: var(--font-principal);
    font-weight: 700;
    font-size: 1rem;
  }
}

.section-divider {
  margin: 1.5rem 0;
  border-top: 1px solid var(--cor-borda);
}

// Acordeão
.hering-accordion { // Estilo personalizado
  .accordion-button {
    font-family: var(--font-titulos);
    font-size: 1.1rem;
    font-weight: 800;
    color: var(--cor-secundaria);

    &:not(.collapsed) {
      background-color: var(--cor-fundo);
      box-shadow: none;
    }
    &:focus { box-shadow: none; }
  }

  .info-content {
    font-family: var(--font-principal);
    white-space: pre-wrap; // Respeita quebras de linha
    line-height: 1.6;
  }
}

// Cabeçalho da Lista (Atendimentos)
.list-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  .list-title-sub {
    font-family: var(--font-secundaria);
    font-weight: 700;
    color: var(--cor-texto);
    margin: 0;
  }
}
