<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">

  	<link rel="stylesheet"  href="./aluno-detalhe.component.scss" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=[object Object]&display=swap" />



</head>
<body>

  	<div class="container">
    		<div class="section">
      			<div class="navigation-breadcrumb-list">
        				<div class="item">
          					<div class="component-11">
            						<div class="text">Alunos</div>
          					</div>
          					<div class="vertical-divider">
          					</div>
        				</div>
        				<div class="item2">
          					<div class="component-11">
            						<div class="text">Ânderson Lopes Nunes</div>
          					</div>
        				</div>
      			</div>
      			<div class="container3">
        				<div class="container4">
          					<div class="section2">
            						<div class="container5">
              							<img class="gemini-generated-image-4fvl7v4-icon" alt="">

            						</div>
            						<div class="container6">
              							<div class="container7">
                								<img class="beige-and-cobalt-modern-retro" alt="">

              							</div>
            						</div>
          					</div>
          					<div class="container8">
            						<div class="container9">
              							<div class="component-1">
                								<img class="vector-icon" alt=""  href="../../../../../public/assets/icons/Component 1.svg">

              							</div>
            						</div>
          					</div>
        				</div>
        				<div class="container10">
          					<div class="container11">
            						<div class="container12">
              							<div class="container13">
                								<div class="prova-separada">Prova Separada?</div>
              							</div>
              							<div class="background">
                								<div class="container13">
                  									<div class="prova-separada">Não</div>
                								</div>
              							</div>
            						</div>
            						<div class="container15">
              							<div class="button">
                								<div class="container16">
                  									<div class="container17">
                    										<div class="container13">
                      											<div class="alterar">Alterar</div>
                    										</div>
                    										<div class="component-12">
                      											<img class="vector-icon2" alt="">

                    										</div>
                  									</div>
                								</div>
              							</div>
            						</div>
          					</div>
          					<div class="container19">
            						<div class="container20">
              							<div class="link-link" id="linkLink">
                								<div class="container21">
                  									<div class="container13">
                    										<div class="prova-separada">Informações Gerais</div>
                  									</div>
                								</div>
              							</div>
            						</div>
          					</div>
          					<div class="container23">
            						<div class="heading-1">Ânderson Lopes Nunes</div>
          					</div>
          					<div class="container24">
            						<div class="container25">
              							<div class="container26">
                								<div class="container13">
                  									<div class="prova-separada">20223004723</div>
                								</div>
              							</div>
              							<div class="margin">
                								<div class="container13">
                  									<div class="div2">(19/04/2000)</div>
                								</div>
              							</div>
            						</div>
          					</div>
          					<div class="container29">
            						<div class="container26">
              							<div class="engenharia-metalrgica">Engenharia Metalúrgica</div>
            						</div>
            						<div class="container31">
              							<div class="border">
                								<div class="prova-separada">SEM.</div>
              							</div>
            						</div>
          					</div>
          					<div class="container32">
            						<div class="telefone">Telefone</div>
            						<div class="container33">
              							<div class="telefone">(31) 9 9999-9999</div>
            						</div>
          					</div>
          					<div class="container34">
            						<div class="telefone">CPF</div>
            						<div class="container33">
              							<div class="telefone">999.999.999-99</div>
            						</div>
          					</div>
          					<div class="container36">
            						<div class="container13">
              							<div class="prova-separada">Prioridade</div>
            						</div>
          					</div>
          					<div class="container38">
            						<div class="container39">
              							<div class="container20">
                								<div class="link-link2" id="linkLink">
                  									<div class="image">
                  									</div>
                								</div>
              							</div>
              							<div class="container20">
                								<div class="link-link3" id="linkLink">
                  									<div class="image2">
                  									</div>
                								</div>
              							</div>
              							<div class="container20">
                								<div class="link-link4" id="linkLink">
                  									<div class="image3">
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="container26">
              							<div class="button2">
                								<div class="container44">
                  									<div class="container17">
                    										<div class="container13">
                      											<div class="alterar">Alterar</div>
                    										</div>
                    										<div class="component-12">
                      											<img class="vector-icon2" alt="">

                    										</div>
                  									</div>
                								</div>
              							</div>
            						</div>
          					</div>
          					<div class="container47">
            						<div class="container13">
              							<div class="prova-separada">Diagnósticos</div>
            						</div>
          					</div>
          					<div class="container49">
            						<div class="container13">
              							<div class="container26">
                								<div class="component-4">
                  									<div class="container52">
                    										<div class="container13">
                      											<div class="text2">TDAH</div>
                    										</div>
                  									</div>
                								</div>
              							</div>
            						</div>
            						<div class="container13">
              							<div class="container26">
                								<div class="component-4">
                  									<div class="container52">
                    										<div class="container13">
                      											<div class="text2">Depressão</div>
                    										</div>
                  									</div>
                								</div>
              							</div>
            						</div>
          					</div>
          					<div class="container58">
            						<div class="component-3">
              							<div class="component-2">
                								<div class="container59">
                  									<div class="text4">EDITAR</div>
                								</div>
              							</div>
              							<div class="button-increment-quantity">
              							</div>
            						</div>
            						<div class="component-43">
              							<div class="backgroundborder">
                								<div class="container13">
                  									<div class="anotaes-gerais">REGISTRAR ATENDIMENTO</div>
                								</div>
              							</div>
            						</div>
          					</div>
          					<div class="container61">
            						<div class="container62">
              							<div class="sem-documentao-mdica">Sem documentação médica</div>
            						</div>
            						<div class="horizontalborder">
              							<div class="container63">
                								<div class="region">
                  									<div class="horizontalborder2">
                    										<div class="button3">
                      											<div class="container64">
                        												<div class="container21">
                          													<div class="anotaes-gerais">Anotações Gerais</div>
                        												</div>
                      											</div>
                    										</div>
                  									</div>
                  									<img class="component-1-icon" alt="">

                								</div>
              							</div>
              							<div class="container66">
                								<div class="region">
                  									<div class="horizontalborder2">
                    										<div class="button4">
                      											<div class="container64">
                        												<div class="container21">
                          													<div class="anotaes-gerais">Adaptações Necessárias</div>
                        												</div>
                      											</div>
                    										</div>
                  									</div>
                  									<img class="component-1-icon" alt="">

                								</div>
              							</div>
              							<div class="container66">
                								<div class="region">
                  									<div class="horizontalborder2">
                    										<div class="button4">
                      											<div class="container64">
                        												<div class="container21">
                          													<div class="anotaes-gerais">Histórico de Atendimentos</div>
                        												</div>
                      											</div>
                    										</div>
                  									</div>
                  									<img class="component-1-icon" alt="">

                								</div>
              							</div>
              							<div class="container66">
                								<div class="region">
                  									<div class="horizontalborder2">
                    										<div class="button4">
                      											<div class="container64">
                        												<div class="container21">
                          													<div class="anotaes-gerais">Laudos</div>
                        												</div>
                      											</div>
                    										</div>
                  									</div>
                  									<img class="component-1-icon" alt="">

                								</div>
              							</div>
              							<div class="container66">
                								<div class="region">
                  									<div class="horizontalborder2">
                    										<div class="button4">
                      											<div class="container64">
                        												<div class="container21">
                          													<div class="anotaes-gerais">Plano Educacional (PEI)</div>
                        												</div>
                      											</div>
                    										</div>
                  									</div>
                  									<img class="component-1-icon" alt="">

                								</div>
              							</div>
            						</div>
          					</div>
          					<div class="section3">
            						<div class="container78">
              							<div class="container13">
                								<div class="anotaes-gerais">Necessidades (Relatórios Médicos)</div>
              							</div>
            						</div>
            						<img class="component-1-icon6" alt="">

          					</div>
        				</div>
      			</div>
    		</div>
  	</div>




  	<script>
    		var linkLink = document.getElementById("linkLink");
    		if(linkLink) {
      			linkLink.addEventListener("click", function () {
        				window.open("https://www.hering.com.br/lancamento");
      			});
    		}

    		var linkLink = document.getElementById("linkLink");
    		if(linkLink) {
      			linkLink.addEventListener("click", function () {
        				window.open("https://www.hering.com.br/regata-feminina-decote-v-box-k6amnmcsi/p");
      			});
    		}

    		var linkLink = document.getElementById("linkLink");
    		if(linkLink) {
      			linkLink.addEventListener("click", function () {
        				window.open("https://www.hering.com.br/regata-feminina-decote-v-box-k6am8jsi/p");
      			});
    		}

    		var linkLink = document.getElementById("linkLink");
    		if(linkLink) {
      			linkLink.addEventListener("click", function () {
        				window.open("https://www.hering.com.br/regata-feminina-decote-v-box-k6am8msi/p");
      			});
    		}</script></body>
</html>
