.container {
  	width: 100%;
  	position: relative;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 0px 16px;
  	box-sizing: border-box;
  	text-align: left;
  	font-size: 13.7px;
  	color: #305f89;
  	font-family: Raleway;
}
.section {
  	align-self: stretch;
  	height: 1646.1px;
  	position: relative;
}
.navigation-breadcrumb-list {
  	position: absolute;
  	width: calc(100% - 51.2px);
  	top: 0px;
  	right: 25.61px;
  	left: 25.59px;
  	overflow-y: auto;
  	display: flex;
  	align-items: center;
}
.item {
  	display: flex;
  	align-items: center;
  	padding: 11.9px 9.9px 12px 4px;
  	gap: 10.1px;
}
.component-11 {
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.text {
  	position: relative;
  	letter-spacing: 0.16px;
  	line-height: 16.1px;
}
.vertical-divider {
  	height: 16px;
  	width: 1px;
  	position: relative;
  	border-left: 1px solid #bfd1e1;
  	box-sizing: border-box;
  	transform:  rotate(15deg);
}
.item2 {
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	padding: 4px;
  	font-size: 13.6px;
  	color: #00376b;
}
.container3 {
  	position: absolute;
  	width: calc(100% - 51.2px);
  	top: 56px;
  	right: 51.2px;
  	left: 0px;
  	display: flex;
  	align-items: flex-start;
  	gap: 16px;
  	text-align: center;
  	font-size: 12px;
}
.container4 {
  	width: 1150.6px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	position: relative;
}
.section2 {
  	align-self: stretch;
  	height: 1590.1px;
  	position: relative;
  	overflow: hidden;
  	flex-shrink: 0;
  	z-index: 0;
}
.container5 {
  	position: absolute;
  	width: 100%;
  	top: -24.88px;
  	right: 0px;
  	left: 0px;
  	height: 1590.1px;
}
.gemini-generated-image-4fvl7v4-icon {
  	position: absolute;
  	width: 100.03%;
  	top: 0.12px;
  	right: -0.03%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	height: 1726px;
  	object-fit: cover;
}
.container6 {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	left: 0px;
  	height: 0px;
}
.container7 {
  	position: absolute;
  	top: 18px;
  	left: 18px;
  	width: 67.2px;
  	height: 67.2px;
}
.beige-and-cobalt-modern-retro {
  	position: absolute;
  	top: 0.12px;
  	left: -0.4px;
  	width: 68px;
  	height: 68px;
  	object-fit: cover;
}
.container8 {
  	margin: 0 !important;
  	position: absolute;
  	top: 16px;
  	right: 15.96px;
  	display: flex;
  	align-items: flex-start;
  	z-index: 1;
}
.container9 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.component-1 {
  	width: 20px;
  	height: 17px;
  	position: relative;
}
.vector-icon {
  	position: absolute;
  	height: 98.24%;
  	width: 95%;
  	top: 1.47%;
  	right: 2.5%;
  	bottom: 0.29%;
  	left: 2.5%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.container10 {
  	height: 1005px;
  	width: 702.1px;
  	position: relative;
}
.container11 {
  	position: absolute;
  	width: 100%;
  	top: 271.12px;
  	right: -0.36px;
  	left: 0.36px;
  	display: flex;
  	align-items: center;
  	gap: 40px;
  	font-size: 11.6px;
  	color: #001222;
}
.container12 {
  	width: 125px;
  	display: flex;
  	align-items: center;
  	gap: 8px;
}
.container13 {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
}
.prova-separada {
  	position: relative;
  	line-height: 14px;
}
.background {
  	border-radius: 4px;
  	background-color: #00376b;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 4px;
  	font-size: 9.7px;
  	color: #fff;
}
.container15 {
  	height: 22px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 12px;
}
.button {
  	height: 38px;
  	display: flex;
  	align-items: flex-start;
  	min-width: 44px;
  	min-height: 38px;
}
.container16 {
  	height: 22px;
  	border-radius: 2px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 3px 5px;
  	box-sizing: border-box;
}
.container17 {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 0px 1px 0px 0px;
  	gap: 5.1px;
}
.alterar {
  	position: relative;
  	text-decoration: underline;
  	line-height: 14px;
}
.component-12 {
  	height: 8.4px;
  	width: 4.9px;
  	position: relative;
}
.vector-icon2 {
  	position: absolute;
  	height: 100%;
  	width: 91.84%;
  	top: 0%;
  	right: 0.13%;
  	bottom: 0%;
  	left: 8.03%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.container19 {
  	position: absolute;
  	width: 100%;
  	top: 0px;
  	right: 0px;
  	left: 0px;
  	display: flex;
  	align-items: flex-start;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	font-size: 11.4px;
}
.container20 {
  	display: flex;
  	align-items: flex-start;
}
.link-link {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	cursor: pointer;
}
.container21 {
  	display: flex;
  	align-items: center;
}
.container23 {
  	position: absolute;
  	width: 100%;
  	top: 30px;
  	right: 0px;
  	left: 0px;
  	display: flex;
  	align-items: flex-start;
  	text-align: left;
  	font-size: 15.6px;
  	color: #001222;
}
.heading-1 {
  	position: relative;
  	line-height: 24px;
  	text-transform: capitalize;
}
.container24 {
  	position: absolute;
  	width: 100%;
  	top: 64px;
  	right: 0px;
  	left: 0px;
  	display: flex;
  	align-items: center;
  	font-size: 14px;
  	color: #00376b;
}
.container25 {
  	display: flex;
  	align-items: center;
  	gap: 4px;
}
.container26 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.margin {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 0px 0px 4px;
  	font-size: 12px;
  	color: #305f89;
}
.div2 {
  	position: relative;
  	text-decoration: underline;
  	line-height: 16px;
}
.container29 {
  	position: absolute;
  	width: 100%;
  	top: 104px;
  	right: 0px;
  	left: 0px;
  	display: flex;
  	align-items: center;
  	flex-wrap: wrap;
  	align-content: center;
  	gap: 0px 8px;
  	text-align: left;
  	font-size: 14.6px;
  	color: #00376b;
}
.engenharia-metalrgica {
  	position: relative;
  	letter-spacing: 0.16px;
  	line-height: 18.4px;
}
.container31 {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	text-align: center;
  	font-size: 12px;
  	color: #7bb559;
}
.border {
  	border-radius: 4px;
  	border: 1px solid #bfd1e1;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	padding: 5px 9px;
}
.container32 {
  	position: absolute;
  	width: 100%;
  	top: 132px;
  	right: 0px;
  	left: 0px;
  	display: flex;
  	align-items: flex-start;
  	gap: 4px;
  	text-align: left;
}
.telefone {
  	position: relative;
  	letter-spacing: 0.16px;
  	line-height: 14px;
}
.container33 {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	text-align: center;
}
.container34 {
  	position: absolute;
  	width: 100%;
  	top: 150.12px;
  	right: -0.36px;
  	left: 0.36px;
  	display: flex;
  	align-items: flex-start;
  	gap: 4px;
  	text-align: left;
}
.container36 {
  	position: absolute;
  	top: 187.12px;
  	left: 0.36px;
  	display: flex;
  	align-items: flex-end;
  	color: #001222;
}
.container38 {
  	position: absolute;
  	width: 100%;
  	top: 208.12px;
  	right: -0.36px;
  	left: 0.36px;
  	display: flex;
  	align-items: center;
  	gap: 8px;
  	color: #fff;
}
.container39 {
  	display: flex;
  	align-items: center;
  	flex-wrap: wrap;
  	align-content: center;
  	padding: 0px 2px 2px;
  	gap: 0px 8px;
}
.link-link2 {
  	align-self: stretch;
  	border-radius: 15px;
  	background-color: #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 4px;
  	cursor: pointer;
}
.image {
  	width: 22px;
  	height: 22px;
  	position: relative;
  	border-radius: 11px;
  	background-color: #7bb559;
}
.link-link3 {
  	align-self: stretch;
  	border-radius: 16px;
  	border: 1px solid #fff;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 5px;
  	cursor: pointer;
}
.image2 {
  	width: 22px;
  	height: 22px;
  	position: relative;
  	border-radius: 11px;
  	background-color: #bd3535;
}
.link-link4 {
  	align-self: stretch;
  	border-radius: 15px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 4px;
  	cursor: pointer;
}
.image3 {
  	width: 22px;
  	height: 22px;
  	position: relative;
  	border-radius: 11px;
  	background-color: #ffd361;
}
.button2 {
  	height: 40px;
  	display: flex;
  	align-items: flex-start;
  	min-width: 44px;
  	min-height: 38px;
}
.container44 {
  	align-self: stretch;
  	border-radius: 2px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 3px 5px;
}
.container47 {
  	position: absolute;
  	width: 100%;
  	top: 316px;
  	right: 0px;
  	left: 0px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 11.4px;
}
.container49 {
  	position: absolute;
  	width: 100%;
  	top: 346px;
  	right: 0px;
  	left: 0px;
  	display: flex;
  	align-items: flex-start;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	gap: 0px 8px;
  	color: #00376b;
}
.component-4 {
  	height: 34px;
  	border-radius: 4px;
  	display: flex;
  	align-items: flex-start;
  	min-width: 34px;
  	min-height: 34px;
}
.container52 {
  	align-self: stretch;
  	border-radius: 2px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 1px 8.9px;
}
.text2 {
  	position: relative;
  	line-height: 12px;
}
.container58 {
  	position: absolute;
  	width: 100%;
  	top: 400px;
  	right: 0px;
  	left: 0px;
  	display: flex;
  	align-items: flex-start;
  	gap: 8px;
  	font-size: 16px;
  	color: #012547;
}
.component-3 {
  	height: 50px;
  	width: 209px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	position: relative;
}
.component-2 {
  	align-self: stretch;
  	flex: 1;
  	border-radius: 4px;
  	border: 1px solid #bfd1e1;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 16px 1px;
  	z-index: 0;
}
.container59 {
  	align-self: stretch;
  	overflow: auto;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
}
.text4 {
  	align-self: stretch;
  	position: relative;
}
.button-increment-quantity {
  	height: 50px;
  	width: 30px;
  	margin: 0 !important;
  	position: absolute;
  	top: 0px;
  	right: 0px;
  	border-radius: 4px;
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 8px;
  	box-sizing: border-box;
  	min-height: 50px;
  	z-index: 1;
}
.component-43 {
  	height: 50px;
  	width: 485px;
  	border-radius: 4px;
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
  	min-height: 50px;
  	font-size: 15.6px;
  	color: #fff;
}
.backgroundborder {
  	align-self: stretch;
  	flex: 1;
  	border-radius: 2px;
  	background-color: #012547;
  	border: 2px solid #012547;
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 6px 18px;
  	max-width: 100%;
}
.container61 {
  	position: absolute;
  	width: calc(100% - 0.1px);
  	top: 502.12px;
  	right: -0.26px;
  	left: 0.36px;
  	height: 356px;
  	text-align: left;
  	color: #688fb2;
}
.container62 {
  	position: absolute;
  	width: 100%;
  	top: 32.12px;
  	right: -0.36px;
  	left: 0.36px;
  	height: 16px;
  	overflow: hidden;
}
.sem-documentao-mdica {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	letter-spacing: 0.16px;
  	line-height: 16px;
  	display: flex;
  	align-items: center;
  	width: 233.8px;
  	height: 16px;
}
.horizontalborder {
  	position: absolute;
  	width: calc(100% + 0.1px);
  	top: 80px;
  	right: -0.1px;
  	left: 0px;
  	border-top: 1px solid #bfd1e1;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 1px 0px 0px;
  	text-align: center;
  	font-size: 13.8px;
  	color: #00376b;
}
.container63 {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
  	font-size: 13.2px;
}
.region {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	position: relative;
  	max-width: 100%;
}
.horizontalborder2 {
  	align-self: stretch;
  	border-bottom: 1px solid #bfd1e1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 2px 0px 3px;
  	z-index: 0;
}
.button3 {
  	width: 702px;
  	height: 50px;
  	border-radius: 4px;
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
  	min-height: 50px;
}
.container64 {
  	align-self: stretch;
  	flex: 1;
  	border-radius: 2px;
  	display: flex;
  	align-items: center;
  	padding: 24px 0px;
  	box-sizing: border-box;
  	max-width: 100%;
}
.anotaes-gerais {
  	position: relative;
  	line-height: 16px;
}
.component-1-icon {
  	width: 12px;
  	height: 7px;
  	position: absolute;
  	margin: 0 !important;
  	top: calc(50% - 3.5px);
  	left: 687.12px;
  	object-fit: contain;
  	z-index: 1;
}
.container66 {
  	align-self: stretch;
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
}
.button4 {
  	width: 714.6px;
  	height: 50px;
  	border-radius: 4px;
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
  	min-height: 50px;
}
.section3 {
  	position: absolute;
  	width: 100%;
  	top: 474px;
  	right: 0px;
  	left: 0px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
  	font-size: 13.5px;
  	color: #00376b;
}
.container78 {
  	width: 218px;
  	display: flex;
  	align-items: center;
  	max-width: 400px;
  	z-index: 0;
}
.component-1-icon6 {
  	width: 12px;
  	height: 7px;
  	position: absolute;
  	margin: 0 !important;
  	top: 2.48px;
  	left: 687.24px;
  	object-fit: contain;
  	z-index: 1;
}

