<div class="login-container">

  <div class="login-form-wrapper">

    <div class="form-header">
      <a class="logo-link" routerLink="/">
        <img src="/assets/img/CEFET-MG_simplificada-positivo-menor.png" alt="Logo NAAPI" class="login-logo">
        <span class="login-logo-text">NAAPI</span>
      </a>

      <h3 class="card-title">Olá! Bem-vindo(a) de volta.</h3>
      <p class="sub-title">Faça login para acessar ao painel de gestão.</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="mb-3 input-group-icon">
        <i class="bi bi-envelope"></i>
        <input type="email" id="email" class="form-control"
               formControlName="email" placeholder="O seu email">
      </div>

      <div class="mb-3 input-group-icon">
        <i class="bi bi-lock"></i>
        <input type="password" id="senha" class="form-control"
               formControlName="senha" placeholder="A sua senha">
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger p-2 mt-3 text-center">
        {{ errorMessage }}
      </div>

      <div class="d-grid mt-4">
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="loginForm.invalid || isLoading">
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
          {{ isLoading ? 'Entrando...' : 'Entrar' }}
        </button>
      </div>
    </form>

  </div>

  <div class="login-visual-splash">
    </div>

</div>
