// 1. Variáveis Globais de Fontes e Cores
:root {
  // Fontes
  --font-principal: 'Raleway', sans-serif;
  --font-titulos: 'Poppins', sans-serif;
  --font-secundaria: 'Open Sans', sans-serif;

  // Paleta de Cores Base
  --cor-branco: #FFFFFF;
  --cor-claro01: #F1F5F9;
  --cor-claro02: #F5F5F5;
  --cor-claro03: #DDE5F0;
  --cor-azul-claro: #8CA9C9;
  --cor-azul-cefet: #00376B;
  --cor-azul: #002C56;
  --cor-azul-escuro: #001D36;
  --cor-vermelho: #D0021B;

}

// 2. Estilos Globais
body {
  font-family: var(--font-principal);
  background-color: var(--cor-branco);
  color: var(--cor-azul-cefet);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Esconde a scrollbar
  scrollbar-width: none;
  -ms-overflow-style: none;
}

// Esconde a scrollbar (Chrome, Safari, Edge)
body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-titulos);
  font-weight: 800;
  color: var(--cor-secundaria);
}

// 3. Animações e Utilitários
.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

// 4. Estilos reutilizáveis (ex: Page Header)
.page-header-container {
  background-color: var(--cor-branco);
  padding: 2rem;
  border-bottom: 1px solid var(--cor-claro03);
  margin-bottom: 1.5rem;

  &.bg-color-2 { // Para o Aluno List
    background-color: var(--cor-claro01);
    h2.page-header-title {
      color: var(--cor-branco);
    }
  }

  .page-header-title {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 800;
  }
}

// Layout Básico da Página
.page-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem 2rem 1rem;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

