/* Importa a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Importa o nosso novo tema */
@import 'app/styles/naapi-theme';

/* NOVO: Importa os estilos da Navbar moderna */
@import 'app/layout/layout.component.scss';

/* Define a fonte para toda a aplicação */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--naapi-light); /* Fundo suave */
}
