// 1. Variáveis Globais de Fontes e Cores
:root {
  --font-principal: 'Inter', sans-serif;
  --font-titulos: 'Inter', sans-serif;
  --font-secundaria: 'Inter', sans-serif;

  --cor-branco: #FFFFFF;
  --cor-fundo: #f9fafb;
  --cor-borda-leve: #d0d5dd;
  --cor-texto-claro: #5f6980;
  --cor-azul-cefet: #00376B;
  --cor-azul: #002C56;
  --cor-azul-escuro: #001D36;
  --cor-vermelho: #D0021B;

  --cor-primaria: var(--cor-azul-cefet);
  --cor-secundaria: var(--cor-azul-escuro);
}

// 2. Estilos Globais
body {
  font-family: var(--font-principal);
  background-color: var(--cor-branco);
  color: var(--cor-texto-principal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-titulos);
  font-weight: 600;
  color: var(--cor-texto-principal);
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.page-header-container {
  background-color: var(--cor-fundo);
  padding: 2rem;
  border-bottom: 1px solid var(--cor-borda-leve);
  margin-bottom: 1.5rem;

  .page-header-title {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 600;
  }
}

.page-container {
  max-width: 1336px;
  margin: 0 auto;
  padding: 2rem 2.5rem;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
