/* ===================================================================
 * STYLES.SCSS (Global)
 * =================================================================== */

/* 2. Importa o TEMA NAAPI */
@import 'app/styles/modern-theme';

/* 3. Importa as animações */
@import 'app/styles/animations';

/* 4. Importa o novo cabeçalho de página colorido */
@import 'app/styles/page-header';

@import 'app/styles/page-container';

/* 5. Define a fonte e o fundo para toda a aplicação */
body.naapi-body-bg {
  font-family: 'Raleway', sans-serif;
  font-weight: 400; /* Raleway regular */
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* MUDANÇA: Adiciona a textura granulada/sutil ao fundo.
    Esta é uma textura clássica e leve.
  */
  background-image: url('https://www.transparenttextures.com/patterns/subtle-grey.png');
  background-repeat: repeat;
}
